<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>Welcome, {{ admin_username }}!</h1>
    <h2>Seating Chart</h2>
    {% include 'seating_chart.html' %}
    <h2>Total Sales: ${{ total_sales }}</h2>
    <a href="{{ url_for('home') }}">Back to main menu</a>
  </body>
</html>
