<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Reservation System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>Bus Reservation System</h1>
    <nav>
      <a href="{{ url_for('reserve') }}">Reserve a seat</a>
      <a href="{{ url_for('login') }}">Admin Login</a>
    </nav>
  </body>
</html>
